<a href="https://colab.research.google.com/github/San7122/SQL/blob/main/Copy_of_SQL_INTERVIEW_QUESTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basic SQL Questions**


**1 What is SQL?**


SQL (Structured Query Language) is a standard programming language used to manage and manipulate relational databases. It is used for querying, updating, and managing data, as well as controlling access to the database.

**2.Explain the difference between SQL and NoSQL.**

SQL: Uses structured query language for defining and manipulating data. It is used with relational databases, which store data in tables with predefined schemas. Examples include MySQL, PostgreSQL, and SQL Server.

NoSQL: Stands for "Not Only SQL" and refers to a variety of database systems that do not use SQL as their primary interface. These are often used for non-relational or distributed databases and can handle unstructured or semi-structured data. Examples include MongoDB, Cassandra, and Redis.


**3. What are the different types of SQL commands?**

DDL (Data Definition Language): Commands that define the structure of the database.

CREATE: Creates a new table, database, index, or view.

ALTER: Modifies an existing database object.

DROP: Deletes a database object.

DML (Data Manipulation Language): Commands that manipulate data stored in the database.

SELECT: Retrieves data from the database.

INSERT: Adds new data into a table.

UPDATE: Modifies existing data in a table.

DELETE: Removes data from a table.

DCL (Data Control Language): Commands that control access to the data.

GRANT: Gives user's access privileges to the database.

REVOKE: Removes access privileges given to the user.

TCL (Transaction Control Language): Commands that manage transactions in the database.

COMMIT: Saves all changes made in the current transaction.

ROLLBACK: Undoes changes made in the current transaction.

SAVEPOINT: Sets a savepoint within a transaction.

SET TRANSACTION: Sets the properties for a transaction.

**4.What is a database? What are tables and fields?**

Database: A structured collection of data stored electronically in a computer system, organized for efficient retrieval, insertion, and deletion.

Tables: Structures within a database that organize data into rows and columns. Each table represents a specific type of data.

Fields (Columns): Individual pieces of data stored in a table, representing the attributes of the data.

**5. What is a primary key? What are its characteristics?**
A primary key is a field (or combination of fields) that uniquely identifies each record in a table. Characteristics include:

Must contain unique values.

Cannot contain NULL values.

Each table can have only one primary key.

**6.What is a foreign key? How does it relate to a primary key?**

A foreign key is a field (or combination of fields) in one table that refers to the primary key in another table. It creates a relationship between the two tables, ensuring referential integrity.

**7. What is a unique key? How does it differ from a primary key?**

A unique key ensures that all values in a column are unique. The differences from a primary key include:

A table can have multiple unique keys.

Unique keys can contain NULL values, whereas primary keys cannot.

**8. Explain the concept of indexes. Why are they used?**

Indexes are database objects that improve the speed of data retrieval operations on a table. They work like an index in a book, allowing the database to find data more quickly without scanning the entire table. Indexes can be created on one or more columns of a table.

**9. What is a join in SQL? Explain different types of joins.**

Joins are used to combine rows from two or more tables based on related columns. Types of joins include:

INNER JOIN: Returns rows with matching values in both tables.

LEFT JOIN (LEFT OUTER JOIN): Returns all rows from the left table and the matched rows from the right table. Unmatched rows from the left table will have NULLs in columns of the right table.

RIGHT JOIN (RIGHT OUTER JOIN): Returns all rows from the right table and the matched rows from the left table. Unmatched rows from the right table will have NULLs in columns of the left table.

FULL JOIN (FULL OUTER JOIN): Returns all rows when there is a match in one of the tables. Rows with no match in the other table will have NULLs.

CROSS JOIN: Returns the Cartesian product of both tables, combining each row of the first table with every row of the second table.

**10.What is normalization? Explain the different normal forms.**

Normalization is the process of organizing data to reduce redundancy and improve data integrity. The normal forms include:

1NF (First Normal Form): Ensures that the table has a primary key and each column contains atomic (indivisible) values.

2NF (Second Normal Form): Meets 1NF criteria and ensures that all non-key columns are fully dependent on the primary key.

3NF (Third Normal Form): Meets 2NF criteria and ensures that all columns are dependent only on the primary key, eliminating transitive dependencies.

BCNF (Boyce-Codd Normal Form): A stricter version of 3NF where every determinant must be a candidate key.

4NF (Fourth Normal Form): Meets BCNF criteria and ensures no multi-valued dependencies.

5NF (Fifth Normal Form): Meets 4NF criteria and ensures no join dependencies.

**11.What is denormalization? Why and when is it used?**

Denormalization is the process of combining tables to reduce the number of joins and improve read performance. It is used when read performance is more critical than write performance, and when the database is subject to complex queries.

**12.What is a view in SQL? How is it different from a table?**
A view is a virtual table created by a query that combines data from one or more tables. Unlike a table, a view does not store data itself but provides a way to access data in tables. Views can be used to simplify complex queries, provide security by restricting access to specific data, and present data in a specific format.

**13. Explain the difference between DELETE and TRUNCATE commands **

DELETE: Removes specific rows from a table based on a condition. It can be rolled back and triggers are activated during its execution.

TRUNCATE: Removes all rows from a table. It cannot be rolled back, is faster than DELETE, and does not activate triggers.

**14.What is a stored procedure? How is it different from a function?**

A stored procedure is a set of SQL statements that can be executed as a single unit. Differences include:

Stored Procedure: Can perform actions (like modifying data) and return multiple values or none at all. It can also include control-of-flow statements.
Function: Must return a single value and cannot perform actions that modify data. It is used primarily for computations and cannot have side effects.

**15. What are transactions in SQL? Explain the ACID properties**.
Transactions are sequences of operations performed as a single logical unit of work. ACID properties include:

Atomicity: Ensures all operations within a transaction are completed successfully or none at all.

Consistency: Ensures the database remains in a consistent state before and after the transaction.

Isolation: Ensures that transactions are executed independently of each other.

Durability: Ensures that the results of a transaction are permanently saved in the database.

Data Querying and Manipulation

**Data Querying and Manipulation**

**16. How do you retrieve data from a SQL table?**

Using the SELECT statement.

**17. Explain the SELECT statement and its basic syntax.**

SELECT column1, column2, ...
FROM table_name
WHERE condition;

**18. How do you filter data using the WHERE clause?**

By specifying conditions in the WHERE clause.

SELECT * FROM table_name WHERE condition;

**19. What is the GROUP BY clause? When is it used?**

The GROUP BY clause groups rows that have the same values in specified columns into aggregate data.

SELECT column1, COUNT(*)
FROM table_name
GROUP BY column1;

**20. Explain the use of the HAVING clause. How is it different from WHERE? **

The HAVING clause is used to filter groups created by the GROUP BY clause. Unlike WHERE, which filters rows before grouping, HAVING filters after.

SELECT column1, COUNT(*)
FROM table_name
GROUP BY column1
HAVING COUNT(*) > 1;

**21. What are aggregate functions? Provide examples.**

Functions that perform calculations on a set of values and return a single value. Examples: SUM(), COUNT(), AVG(), MAX(), MIN().

SELECT AVG(salary) FROM employees;

**22. What is the ORDER BY clause used for? How can you sort in ascending and descending order?**

Used to sort the result set. Ascending is default, descending uses DESC.

SELECT * FROM table_name ORDER BY column1 ASC, column2 DESC;

**23. Explain the LIMIT clause and its use.**
Limits the number of rows returned by the query.

SELECT * FROM table_name LIMIT 10;

**24. How do you insert data into a table? What is the syntax for the INSERT statement?**

INSERT INTO table_name (column1, column2, ...)
VALUES (value1, value2, ...);

**25. How do you update existing records in a table? Explain the UPDATE statement.**

UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

**26. How do you delete records from a table? What is the DELETE statement?**


DELETE FROM table_name WHERE condition;


**27. What is a subquery? Explain with an example**

A query nested inside another query.

SELECT * FROM table_name WHERE column1 = (SELECT column1 FROM table_name2 WHERE condition);

**28. What are common set operations in SQL? Explain UNION, INTERSECT, and EXCEPT.**

UNION: Combines result sets of two queries, removing duplicates.

SELECT column1 FROM table1
UNION
SELECT column1 FROM table2;

INTERSECT: Returns common rows between two queries.

SELECT column1 FROM table1
INTERSECT
SELECT column1 FROM table2;

EXCEPT: Returns rows from the first query that are not in the second query.

SELECT column1 FROM table1
EXCEPT
SELECT column1 FROM table2;

**Advanced SQL Concepts**

**29 What are window functions in SQL? Provide examples.**

Window functions perform calculations across a set of table rows related to the current row. They are similar to aggregate functions but do not cause rows to become grouped into a single output row. Examples include ROW_NUMBER(), RANK(), and SUM() OVER (PARTITION BY ...). For instance:

SELECT employee_id, salary, RANK() OVER (ORDER BY salary DESC) AS rank
FROM employees;

**30. Explain the RANK(), DENSE_RANK(), and ROW_NUMBER() functions.**

RANK() assigns a rank to each row within a partition of a result set, with gaps in ranking if there are ties.

DENSE_RANK() assigns a rank without gaps; identical values receive the same rank.

ROW_NUMBER() assigns a unique number to each row, starting from 1 for the first row in each partition.

**31. What is a CTE (Common Table Expression)? How is it used?**
A CTE is a temporary result set defined within the execution scope of a SELECT, INSERT, UPDATE, or DELETE statement. It is defined using the WITH clause. Example:

WITH Sales_CTE AS (
  SELECT salesperson_id, SUM(sales_amount) AS TotalSales
  FROM sales
  GROUP BY salesperson_id
)
SELECT * FROM Sales_CTE WHERE TotalSales > 10000;

**32. Explain the difference between correlated and non-correlated subqueries.**

Correlated Subquery: A subquery that references columns from the outer query, executed once for each row of the outer query.

Non-Correlated Subquery: A subquery that can be run independently of the outer query and is executed only once.

**33. How do you handle NULL values in SQL?**

Use the IS NULL or IS NOT NULL operators to check for NULL values. Functions like COALESCE() can replace NULLs with a specified value. Example:

SELECT COALESCE(column_name, 'Default Value') FROM table_name;

**34. What is a trigger in SQL? When would you use one?**

A trigger is a set of instructions automatically executed in response to certain events on a particular table or view, such as INSERT, UPDATE, or DELETE. Triggers are used for maintaining audit trails, enforcing business rules, and validating data.

**35. Explain the difference between INNER JOIN and LEFT JOIN.**

INNER JOIN: Returns only the rows where there is a match in both joined tables.

LEFT JOIN (LEFT OUTER JOIN): Returns all rows from the left table and matched rows from the right table; unmatched rows in the right table result in NULLs.

**36. What is a cross join? Provide an example scenario where it might be used.**
A cross join returns the Cartesian product of two tables, meaning every row in the first table is paired with every row in the second table. It can be used to generate combinations, such as all possible pairs of products and regions for a report.

**37.What are the differences between MERGE and INSERT in SQL?**
INSERT: Adds new records to a table. It does not handle updates or deletions.

MERGE: A combination of INSERT, UPDATE, and DELETE operations. It can insert new rows, update existing rows, and delete rows based on conditions.

**38. How do you optimize SQL queries for performance?**

Techniques include:

Indexing frequently queried columns.

Avoiding SELECT *; specifying only necessary columns.

Using appropriate join types and filtering data before joining.

Breaking complex queries into simpler, smaller queries.

Analyzing and restructuring query plans.

**Data Science Context-Specific Questions**


**39. How can SQL be used in data cleaning and preprocessing?**

SQL can handle data cleaning tasks such as removing duplicates, handling NULL values, correcting data types, filtering out irrelevant data, and standardizing formats (e.g., dates). Functions like TRIM(), CAST(), and CASE are often used in this process.

**40.Explain how you would use SQL to join datasets from different sources.**

Use SQL joins (INNER JOIN, LEFT JOIN, etc.) to merge datasets based on common keys. When dealing with different sources, data may need to be imported into a single relational database or accessed via linked servers or external tables.

**41. How would you write a query to calculate moving averages using SQL?**

Moving averages can be calculated using window functions.

 For example:

SELECT date, sales,
  AVG(sales) OVER (ORDER BY date ROWS BETWEEN 4 PRECEDING AND CURRENT ROW) AS MovingAvg
FROM sales_data;

This query calculates a 5-day moving average of sales.

**42. Describe how you would use SQL to analyze sales data.**

SQL can be used to segment customers, calculate key metrics (total sales, average order value), identify trends over time, and perform cohort analysis. Aggregations, groupings, and joins with other tables (like product or customer tables) are common operations.

**43. What are the best practices for designing a database schema for analytical purposes?**
Best practices include:

Normalization for data consistency and minimizing redundancy.

Denormalization for faster read operations where necessary.

Clear naming conventions and documentation.

Indexing on key columns used in joins and where clauses.

Using star or snowflake schema designs for data warehousing.

**44. How would you use SQL to handle time series data?**

SQL can be used to manage and analyze time series data by leveraging date functions (such as DATEPART, DATEDIFF), window functions for moving averages, and aggregating data over time intervals (daily, weekly, monthly).
Scenario-Based and Problem-Solving Questions

**Scenario-Based and Problem-Solving Questions**

**45. Write a SQL query to find the second-highest salary from a table.**

SELECT MAX(salary) AS SecondHighestSalary
FROM employees
WHERE salary < (SELECT MAX(salary) FROM employees);

**46. How would you write a query to find duplicates in a table?**

SELECT column_name, COUNT(*)
FROM table_name
GROUP BY column_name
HAVING COUNT(*) > 1;

**47. Replace column_name with the column(s) you want to check for duplicates.**

Given a table of employees, write a query to find all employees who have the same salary.

SELECT employee_id, name, salary
FROM employees
WHERE salary IN (
  SELECT salary
  FROM employees
  GROUP BY salary
  HAVING COUNT(*) > 1
);

**48. How would you use SQL to pivot a dataset?**

SQL Server example using PIVOT:

SELECT *
FROM (
  SELECT year, product, sales
  FROM sales_data
) src
PIVOT (
  SUM(sales) FOR product IN ([ProductA], [ProductB], [ProductC])
) pvt;

This query transforms rows into columns.


**49. Describe how to write a query that returns the top N records for each group in a grouped dataset.**

WITH RankedSales AS (
  SELECT salesperson_id, sales_amount,
    ROW_NUMBER() OVER (PARTITION BY region ORDER BY sales_amount DESC) AS rank
  FROM sales
)
SELECT *
FROM RankedSales
WHERE rank <= 3;

This query returns the top 3 sales amounts per region.

**50. Write a query to find the total sales per month from a sales table.**

SELECT DATE_TRUNC('month', sale_date) AS month, SUM(sales_amount) AS total_sales
FROM sales
GROUP BY DATE_TRUNC('month', sale_date);

**Practical Questions**

**51. How do you ensure data integrity in SQL databases?**

Data integrity is ensured through constraints (PRIMARY KEY, FOREIGN KEY, UNIQUE, CHECK), data types, and transactions. Using stored procedures and triggers also helps enforce business rules and maintain integrity.

**52. Explain the concept of data modeling and how it relates to SQL.**

Data modeling involves designing the structure of a database, including tables, relationships, and constraints. It ensures that data is stored efficiently and can be queried effectively. SQL is used to implement and manipulate these structures.

**53. What are the differences between OLTP and OLAP databases? How does SQL usage differ in each?**

OLTP (Online Transaction Processing): Optimized for fast, efficient transactions and data integrity. SQL usage focuses on CRUD operations (Create, Read, Update, Delete).

OLAP (Online Analytical Processing): Optimized for complex queries and data analysis, often using a multi-dimensional schema like star or snowflake. SQL usage involves aggregation, complex joins, and large-scale data retrieval.

**54. How would you use SQL to generate a report summarizing key business metrics?**

Using aggregate functions and grouping data.


SELECT
  department,
  COUNT(*) AS total_employees,
  AVG(salary) AS average_salary,
  SUM(sales) AS total_sales
FROM employees
JOIN sales ON employees.employee_id = sales.employee_id
GROUP BY department;

**Behavioral Questions**

**55. Discuss the role of indexing in SQL databases and how to decide on indexing strategies.**

Indexes improve query performance by allowing faster data retrieval. Indexing strategies depend on query patterns: indexes should be placed on columns frequently used in WHERE clauses, joins, and ORDER BY clauses. However, too many indexes can slow down data modification operations.

**56. Explain how to use SQL to perform data validation and quality checks.**

SQL can validate data by using constraints, triggers, and stored procedures. Queries can identify anomalies, such as outliers or missing values. Data profiling techniques, like frequency distribution and pattern recognition, can also be implemented in SQL.

**57. How do you handle large datasets in SQL?**

Techniques include:
Partitioning tables and indexes.
Using indexed views and materialized views.
Optimizing queries and using query hints.
Employing batch processing for large updates or inserts.
Utilizing cloud services and distributed databases for scalability.